.main-news{
  position: relative;
  margin-top: 50px;
  width: 70%;
  @media all{
    @media (max-width: 480px){
      width:calc(100% - 16px);
      padding: 8px 0;
      margin-top: 50px;
    }
  }
  padding: 24px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .news{
    width: calc(70% - 24px);
    @media all{
      @media (max-width: 480px){
        width:100%;
        margin-right: 0px;
      }
    }
    margin-right: 24px;
    overflow-x: hidden;
    .news-item{
      width: calc(100% - 2px);
      background: $light-color;
      border-radius: 4px;
      margin-bottom: 24px;
      @media all{
        @media (max-width: 480px){
          width:calc(100% - 2px);
          margin-bottom: 8px;
        }
      }
      border: solid 1px $border-color;
      overflow: hidden;
      .publisher{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        .avatar{
          width:50px;
          height: 50px;
          margin-right: 12px;
          border: solid 1px $border-color;
          border-radius: 30px;
          overflow: hidden;
          img{
            width: 100%;
            border-radius: 30px;
          }
        }
        .name{
          font-size: 0.8rem;
          font-weight: bold;
          font-family: $text-main-font;
          color: $text-main-color
        }

      }
      .image{
        img{
          width: 100%;
          display: block;
          height: auto;
        }
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        border-bottom: solid 1px $border-color;
      }
      .info{
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-family: $text-main-font;
        align-items: center;
        .counters{
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;
          div{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            margin-right: 12px;
            cursor: pointer;
          }
          span{
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            font-size: 0.7rem;
            @media all{
              @media (max-width: 480px){
                font-size: 0.9rem;
              }
            }
            padding: 0 8px;
          }
          font-size: 0.8rem;
          width: 50%;
          i{
            color: $border-color;
            font-size: 1rem;
            @media all{
              @media (max-width: 480px){
                font-size: 1.2rem;
              }
            }
            text-shadow: 0 0 1px 3px black;
          }
          font-style: $text-main-font;
        }

        .date{
          font-style: $text-main-font;
          font-weight: lighter;
          font-size: 0.6rem;
          @media all{
            @media (max-width: 480px){
              font-size: 0.7rem;
            }
          }
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

    }
  }
  .news-nav{
    position: fixed;
    left: 64%;
    width:21%;
    overflow-x: hidden;
    @media all{
      @media (max-width: 480px){
        display: none;
      }
    }
    .news-nav-section{
      width:calc(100% - 26px);
      background: $light-color;
      border-radius: 4px;
      padding: 12px;
      border: solid 1px $border-color;
      margin-bottom: 24px;
    }
    .my-profile{
      width:calc(100% - 26px);
      padding: 0 12px 12px 12px;
    }
    .user-link{
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      margin-bottom: 16px;
      color: $text-main-color;
      .user-link-left{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img{
          width: 100%;
        }
      }
      .user-link-right{
        width: calc(100% - 66px);
        color: $text-main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 16px;
        font-size: 0.7rem;
        font-family: $text-main-font;
      }
    }
    .user-link:last-child{
      margin-bottom: 0;
    }
  }
}
