.post-main{
  width:70%;
  @media all{
    @media (max-width: 480px){
      width:calc(100% - 16px);
      padding: 8px 0;
      margin-top: 50px;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 24px;
  .post-left{
    width: calc(60% - 28px);
    @media all{
      @media (max-width: 480px){
        width:calc(100% - 10px);
        padding: 4px;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 8px;
      }
    }
    overflow: hidden;
    background: white;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    img{
      width: 100%;
    }
  }
  .post-right{
    width: calc(40% - 12px);
    @media all{
      @media (max-width: 480px){
        width:calc(100% - 2px);
        //padding: 4px;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: 4px;
      background: white;
  }
}
