.main-profile{
  margin-top: 50px;
  width: 70%;
  padding: 24px 0 0 0;
  @media all{
    @media (max-width: 480px){
      width: 100%;
      text-align: center;
      padding: 16px 0 8px 0;
    }
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media all{
      @media (max-width: 480px){
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
      }
    }
    .avatar{
      @media all{
        @media (max-width: 480px){
          text-align: center;
          margin: 0px 16px;
        }
      }
      width:250px;
      height: 250px;
      border-radius: 100%;
      //box-shadow: 0 0 4px 1px $border-color;
      border: solid 1px $border-color;
      overflow: hidden;
      margin: 0 24px 0 0;
      img{
        width: 100%;
      }
      .avatar-mask{
        position: absolute;
        width:250px;
        border-radius: 100%;
        height: 250px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.5);
        transition: all 0.6s;
        label,a{
          width: 60%;
          text-align: center;
          background: $buttons-color;
          outline: none;
          border: none;
          border-radius: 4px;
          color: $light-color;
          font-size: 0.8rem;
          padding: 5px;
          transform: scale(0);
          transition: all 0.8s;
          font-family: $text-main-font;
          cursor: pointer;
          border: solid 1px $buttons-outline;

        }
        label:first-child{
          margin-bottom: 8px;

        }
        a{
          margin-top: 8px;
        }
      }
      #upload-avatar{
        display: none;
      }
    }
    .avatar:hover .avatar-mask{
      opacity: 1;
      label,a{
        transform: scale(1);
      }
    }
    .info{
      @media all{
        @media (max-width: 480px){
          width: calc(100% - 32px);
          text-align: center;
          margin: 16px 16px 0 16px;
        }
      }
      width: calc(100% - 418px);
      margin: 0 16px 0 0;
      .name{
        @media all{
          @media (max-width: 480px){
            font-size: 1.5rem;
            margin-bottom: 16px;
          }
        }
        font-size: 1.2rem;
        font-family: $text-main-font;
        color: $text-main-color;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .followers-following{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @media all{
          @media (max-width: 480px){
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
          }
        }
        a{
          display: flex;
          text-decoration: none;
          margin-right: 32px;
          color: $text-main-color;
          font-family: $text-main-font;
          font-size: 0.7rem;
          @media all{
            @media (max-width: 480px){
              font-size: 0.8rem;
            }
          }
          b{
            margin-right: 4px;
          }
        }
        a:last-child{
          @media all{
            @media (max-width: 480px){
                  margin-right: 0px;
            }
          }
        }
        margin-bottom: 24px;
      }
      .profile-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 24px;
        @media all{
          @media (max-width: 480px){
                margin-bottom: 16px;
          }
        }
        @media all{
          @media (max-width: 480px){
              flex-direction: row;
              justify-content: center;
              align-items: center;
          }
        }
        label,a{
          width: calc(40% - 26px);
          text-align: center;
          font-size: 0.6rem;
          padding: 5px;
          border: solid 1px $buttons-outline;
          background: $buttons-color;
          color: $light-color;
          border-radius: 4px;
          font-family: $text-main-font;
          cursor: pointer;
          transition: all 0.6s;
          @media all{
            @media (max-width: 480px){
              font-size: 0.7rem;
                width: calc(50% - 26px);
            }
          }
        }
        label:first-child,a:first-child{
          margin-right:16px;
        }
        label:last-child,a:last-child{
          margin-left:16px;

        }
        #upload-photo{
          display: none;
        }
      }
      .about{
        color: $text-main-color;
        font-family: $text-main-font;
        font-size: 0.8rem;
        @media screen {
          @media (max-width: 480px) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .buttons{
    margin-top: 32px;
    @media all{
      @media (max-width: 480px){
        margin-top: 16px;
      }
    }
    display: flex;
    justify-content: center;
    .page{
      position: relative;
      .line{
        display: flex;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $text-main-color;
      }
    }
    .item{
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      cursor: pointer;
      color: $text-main-color;
      font-family: $text-main-font;
      font-size: 0.6rem;
      @media all{
        @media (max-width: 480px){
            font-size: 0.7rem;
        }
      }
      font-weight: bold;
      padding: 12px 0;
      color: $text-second-color;
      i{
        margin-right: 6px;
      }
    }
    .active{
      color: $text-main-color;
      position: relative;
    }

    .page{
      margin-right: 64px;
    }
    .page:last-child{
      margin-right: 0px;
    }
    border-top: solid 1px $border-color;
  }

  .galery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media all{
      @media (max-width: 480px){
        padding:0 8px;
      }
    }
    .photo{
    //  border: 1px solid $border-color;
      width:calc(23vw - 16px);
      height: calc(23vw - 16px);
    //  border-radius: 4px;
      overflow: hidden;
      margin-bottom: 24px;
      cursor: pointer;
      .mask{
        width:calc(23vw - 16px);
        height: calc(23vw - 16px);
        position: absolute;
        background: rgba(0,0,0,0.65);
        opacity: 0;
        transition: all 0.6s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       .like,.coment{
         color: $light-color;
         font-family: $text-main-font;
         transform: scale(0);
         transition: all 0.6s;
         font-size: 0.8rem;
       }
       @media all{
         @media (max-width: 480px){
           width:calc(33.3333vw - 10px);
           height: calc(33.3333vw - 10px);
         }
       }
      }
      img{
        width:100%;
      }
      @media all{
        @media (max-width: 480px){
          width:calc(33.3333vw - 10px);
          height: calc(33.3333vw - 10px);
            margin-bottom: 8px;
        }
      }
    }
    .photo:hover .mask{
      opacity: 1;
     .like,.coment{
        transform: scale(1);
      }
    }
  }
}
