.users-main{
  width: calc(70% + 24px);
  @media all{
    @media (max-width: 480px){
      width:calc(100% - 8px);
      padding: 4px 0;
        margin-top: 24px;
    }
  }
  .search-form{
    @media all{
      @media (max-width: 480px){
        display: none;
      }
    }

    width: calc(100% - 24px);
    margin:24px 12px 24px 12px;
    form{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      input[type=text]{
        padding: 8px;
        width:calc(75% - 24px);
        border: none;
        outline: none;
        background: $light-color;
        font-size: 0.8rem;
        height: 24px;
        background: $light-color;
        border:solid 1px $border-color;
        border-radius: 4px;
      //  border-bottom: solid 1px $border-color;
      }
      input[type=submit]{
        width:calc(25% - 18px);
        text-align: center;
        cursor: pointer;
        font-family: $text-main-font;
        font-size: 0.8rem;
        background: $buttons-color;
        border: solid 1px $buttons-outline;
        border-radius: 4px;
        color: $light-color;
      }
    }
  }
  margin-top: 50px;

}
