.comment-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px $border-color;
  form{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 46px;
    textarea{
      min-width: 80%;
      resize: none;
      font-family: $text-main-font;
      overflow-y: hidden;
      padding: 8px;
      min-height: 30px;
      height: 30px;
      background: $light-color;
      max-height: 30px;
      outline: none;
      border: none;
    }
    input[type=submit]{
      width: calc(20% - 16px);
      resize: none;
      font-family: $text-main-font;
      overflow-y: hidden;
      background: $buttons-color;
      outline: solid 1px $buttons-outline;
      color: $light-color;
      font-size: 0.6rem;
      cursor: pointer;
      height: 46px;
      border: none;
    }
  }
}
.comment-form2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px $border-color;
  box-shadow: 0 0 1px 1px $border-color;
  form{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;

    height: 46px;
    textarea{
      min-width: 60%;
      resize: none;
      font-family: $text-main-font;
      overflow-y: hidden;
      padding: 8px;
      min-height: 30px;
      height: 30px;
      background: $light-color;
      max-height: 30px;

      outline: none;
      border: none;
    }
    input[type=submit]{
      width: calc(40% - 16px);
      resize: none;
      font-family: $text-main-font;
      overflow-y: hidden;
      background: $buttons-color;
      outline: solid 1px $buttons-outline;
      color: $light-color;
      font-size: 0.6rem;
      cursor: pointer;
      height: 46px;
      border: none;
    }
  }
}
