.comment-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px $border-color;
  form{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 46px;
    textarea{
      min-width: calc(100% - 63px);
      resize: none;
      font-family: $text-main-font;
      overflow-y: hidden;
        line-height: 30px;
      padding: 8px;
      min-height: 30px;
      margin: 0;
      height: 30px;
      background: $light-color;
      max-height: 30px;
      outline: none;
      border: none;
    }
    label{
      height: 46px;
      width:46px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: solid 1px $border-color;
      cursor:pointer;
      i{
        font-size: 24px;
        line-height: 30px;
        color: $buttons-color;

      }
    }
    input[type=submit]{
      display: none;
    }
  }
}
.comment-form2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    border-bottom:  solid 1px $border-color;
    height: 46px;
    textarea{
      min-width: calc(100% - 63px);
      resize: none;
      font-family: $text-main-font;
      overflow-y: hidden;
      padding: 8px;
      min-height: 30px;
      height: 30px;
      margin: 0;
      line-height: 30px;
      background: $light-color;
      max-height: 30px;
      outline: none;
      border: none;
    }
    label{
      height: 46px;
      width:46px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: solid 1px $border-color;
      cursor:pointer;
      i{
        font-size: 24px;
        line-height: 30px;
        color: $buttons-color;

      }
    }
    input[type=submit]{
        display: none;
    }
  }
}
