.page-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  @media all{
    @media (max-width: 480px){
      margin-bottom: 0px;
    }
  }
  a{
    background: $light-color;
    padding: 4px 12px;
    border-radius: 4px;
    border: solid 1px $border-color;
    font-size: 0.8rem;
    margin: 0 12px;
    @media all{
      @media (max-width: 480px){
        margin: 0 8px;
        margin-bottom: 8px;
      }
    }
    color: $text-main-color;
    font-style: $text-main-font;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    align-items: center;
  }
  .active{
    background: $buttons-color;
    border-radius: 4px;
    color: $light-color;
    font-size: 0.8rem;
    cursor: pointer;
    border: solid 1px $buttons-outline;
  }
}
