.header{
  width:70%;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  height: 50px;
  padding-left: 15%;
  padding-right: 15%;
  border-bottom: 1px solid $border-color;
  z-index: 10000;
  .logo{
    h1{
      margin: 0;
      padding: 0;
      font-family: $header-font;
      height: 50px;
      font-weight: lighter;
      letter-spacing:-0.05rem;
      font-size: 35px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $text-main-color;
    }
  }
  nav{
    @media screen {
      @media (max-width: 480px) {
        display: none;
      }
    }
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    a{
      width:40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      color: $text-main-color;
      font-family: $text-main-font;
      font-size: 0.7rem;
      text-align: center;
      div{
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
          color: $text-main-color;
        }
      }
      .counter{
          position: absolute;
          background: $red-color;
          right: 0;
          bottom: 0;
          font-size: 0.4rem;
          padding:4px;
          width: 10px;
          height: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: $light-color;
          border-radius: 50%;
        }
      label{
        cursor: pointer;
      }
    }
    a:hover{
      div{
        color:$buttons-color;
      }
    }
  }
  background: $light-color;
  @media all{
    @media (max-width: 480px){
      width: calc(100% - 32px);
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
#event-box{
  display: none;
}
.events{
  display: none;
}
.events::before{
  content: '';
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: red;
  width: 18px;
  position: absolute;
  right: 10px;
  background: $light-color;
  border-top: solid 1px $border-color;
  border-left: solid 1px $border-color;
  top:5px;
  height: 18px;
}
#event-box:checked ~ .events{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:  flex-start;
  position: fixed;
  top:38px;
  z-index: 15000;
  width: 15%;
 left: 70%;

 overflow-x: hidden;
 overflow-y: visible;
 border-radius: 4px;

  .container{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 14px;
    width: calc(100% + 12px);
    background: $light-color;
    border: solid 1px $border-color;
     border-radius: 4px;
    max-height: 160px;
    .list-events{
      padding: 12px;

      width: calc(100% - 24px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a{
        width: calc(100% - 16px);
        color: $text-main-color;
        font-family: $text-main-font;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 0.7rem;
        padding: 0 0 4px 0;
        .evt-img{
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          overflow: hidden;
          border-radius: 50%;
          img{
            width: 100%;

          }
        }
        .evt-text{
          font-size: 0.6rem;
          width: calc(100% - 38px);
        }
      }
    }
  }
}
